{% extends "base.html" %}

{% block content %}

    <div id="menu-left">

        <div id="menu-nav">
            <a href="/menu/sides/1/{{estimate_page.number}}/" class="first{%ifequal section "sides"%} selected{%endifequal%}" id="soups-salads-and-sides"></a>
            <a href="/menu/breakfast/1/{{estimate_page.number}}/"{%ifequal section "breakfast"%} class="selected"{%endifequal %} id="breakfast-entrees"></a>
            <a href="/menu/lunch/1/{{estimate_page.number}}/"{%ifequal section "lunch"%} class="selected"{%endifequal %} id="lunch-entrees"></a>
            <a href="/menu/dinner/1/{{estimate_page.number}}/"{%ifequal section "dinner"%} class="selected"{%endifequal %} id="dinner-entrees"></a>
            <a href="/menu/trays-and-platters/1/{{estimate_page.number}}/"{%ifequal section "trays-and-platters"%} class="selected"{%endifequal %} id="trays-and-platters"></a>
            <a href="/menu/breads-and-pastries/1/{{estimate_page.number}}/"{%ifequal section "breads-and-pastries"%} class="selected"{%endifequal %} id="breads-and-pastries"></a>
            <a href="/menu/desserts/1/{{estimate_page.number}}/" class="last{%ifequal section "desserts"%} selected{%endifequal%}" id="desserts"></a>
        </div>

        <div id="menu-estimate">
            <form id="estimate-form" action="/menu/compute/{{section}}/{{menu_page.number}}/{{estimate_page.number}}/" method="post">
                {%csrf_token%}
                {%if estimate_form.service_option.errors%}
                <div class='error'>
                {%endif%}
                <label id="service-option-label" for="id_service_option">Catered or Delivery:</label>{{ estimate_form.service_option }}
                {%if estimate_form.service_option.errors%}
                    {{estimate_form.service_option.errors}}
                </div>
                {%endif%}
                {%if estimate_form.head_count.errors%}
                <div class='error'>
                {%endif%}
                <label id="head-count-label" for="id_head_count">Head Count:</label>{{ estimate_form.head_count }}
                {%if estimate_form.head_count.errors%}
                    {{estimate_form.head_count.errors}}
                </div>
                {%endif%}
                {%if estimate_form.zip_code.errors%}
                <div class='error'>
                {%endif%}
                <label id="zip-code-label" for="id_zip_code">Zip Code:</label>{{ estimate_form.zip_code }}
                {%if estimate_form.zip_code.errors%}
                    {{estimate_form.zip_code.errors}}
                </div>
                {%endif%}

                <h1>Your Menu</h1>
                <h2>Page {{estimate_page.number}} / {{estimate_page.paginator.num_pages}}</h2>

                <div id="selected-items">
                    {% for item in selected_items %}
                        <a href="/menu/{{section}}/{{menu_page.number}}/{{estimate_page.number}}/remove/{{item.id}}/">
                            <h3>{{item.item_name}}</h3>
                            <h4>${%if item.weekly_special%}{{item.special_price|floatformat:2}}{%else%}{{item.price|floatformat:2}}{%endif%}{%if item.per_person_item %} / p{%endif%}</h4>
                        </a>
                    {% empty %}
                        <p>Add items to your menu and complete the above form to get an estimate for your event.</p>
                    {% endfor %}
                </div>

                <div id="estimate-nav-buttons">
                    {%if selected_items_has_previous_page%}
                        <a href="/menu/{{section}}/{{menu_page.number}}/{{estimate_page.previous_page_number}}/" id="previous-page-button">&lt;&lt; Prev</a>
                    {%endif%}

                    <input id="compute-estimate-button" type="submit" value="Compute Estimate"/>
    
                    {%if selected_items_has_next_page%}
                        <a href="/menu/{{section}}/{{menu_page.number}}/{{estimate_page.next_page_number}}/" id="next-page-button">Next &gt;&gt;</a>
                    {%endif%}
                </div>

                {%if estimate_computed%}
                    <h5>Service: <b>${{estimate_service_charge|floatformat:2}}</b></h5><h6>Total: <b>${{estimate_total|floatformat:2}}</b></h6>
                {%endif%}
            </form>
        </div>

    </div>

    <div id="menu-right">

        <div id="menu-header">

            <img src="/media/img/menu-header-{{section}}.png"/>

        </div>

        <div id="menu-item-list">
            {{estimate_list}}

            {% for item in dinner_entrees %}
                <a href="/menu/{{section}}/{{menu_page.number}}/{{estimate_page.number}}/add/{{item.id}}/" class="menu-item">
                    <h1>{{item.item_name}}</h1>
                    <div class="menu-item-thumb" style="background: url('{{item.image.url}}');"></div>
                    <h2>${%if item.weekly_special%}{{item.special_price|floatformat:2}}{%else%}{{item.price|floatformat:2}}{%endif%}{%if item.per_person_item%} / person{%endif%}</h2>
                    <p>{{item.description}}</p>
                    <p class="click-to-add">Click To Add To Your Menu</p>
                </a>
            {% endfor %}

        </div>

        <div id="menu-page-buttons">

            {%if menu_has_previous_page%}
            <a href="/menu/{{section}}/{{menu_page.previous_page_number}}/{{estimate_page.number}}/" id="back-button"></a>
            {%else%}
            <div id="inactive-back-button"></div>
            {%endif%}
            <h2>Page {{menu_page.number}} / {{menu_page.paginator.num_pages}}</h2>
            {%if menu_has_next_page%}
            <a href="/menu/{{section}}/{{menu_page.next_page_number}}/{{estimate_page.number}}/" id="next-button"></a>
            {%else%}
            <div id="inactive-next-button"></div>
            {%endif%}

        </div>
    </div>

{% endblock %}
