<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

    <!--Meta Data-->
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!--Style Sheets-->
    <link rel="stylesheet" href="/media/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
    <!--[if IE]>
    <link rel="stylesheet" href="/media/css/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen, projection" />
    <!--[if IE]>
    <link rel="stylesheet" href="/media/css/iestyle.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <!--Javascript Files-->
    <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.django.ajax.js"></script>
    <script type="text/javascript" src="/media/js/ajax.js"></script>

  </head>

	<body>

    <div id="nav-box-shadow"> 
		  <div id="nav">
			  <div class="container">
				  <a href="/" id="nav-home"{%ifequal page "home"%} class="selected"{%endifequal%}><img src="/media/img/blank.png"/></a>
				  <a href="/menu/" id="nav-menu"{%ifequal page "menu"%} class="selected"{%endifequal%}><img src="/media/img/blank.png"/></a>
				  <a href="/catering/" id="nav-catering"{%ifequal page "catering"%} class="selected"{%endifequal%}><img src="/media/img/blank.png"/></a>
				  <a href="/delivery/" id="nav-delivery"{%ifequal page "delivery"%} class="selected"{%endifequal%}><img src="/media/img/blank.png"/></a>
				  <a href="/about/" id="nav-about"{%ifequal page "about"%} class="selected"{%endifequal%}><img src="/media/img/blank.png"/></a>
				  <a href="/contact/" id="nav-contact"{%ifequal page "contact"%} class="selected"{%endifequal%}><img src="/media/img/blank.png"/></a>
			  </div>
		  </div>
    </div>

    <div id="header">
			<img id="logo" src="/media/img/logo.png"/>
    </div>

    <div id="content" class="container">
      {% block content %}
      {% endblock %}
    </div>

    <div id="footer">
      <div class="container">
        <div id="footer-content">
          <a href="/">Home</a> | <a href="/menu/">Menu</a> | <a href="/catering/">Catering</a> | <a href="/delivery/">Delivery</a> | <a href="/about/">About</a> | <a href="/contact/">Contact</a> | <a href="/sitemap/">Sitemap</a>
          <hr/>
          &copy; 2010 Dev Space Nine - Designed by <a href="http://coreypauley.com" class="outbound">Corey Pauley</a>
        </div>
      </div>
    </div>

	</body>

</html>
